@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif; 
}

.background1{
    background-image: url("../img/bg-tablet-pattern.svg");
    z-index: -1;   
}

/* Header */
.container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    
    z-index: 10;
}

/* Logo */

/* Menu */
.nav {
    width: 60%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     align-content: center;
     justify-content: space-between;    
}

.nav ul{
    display: flex;
    list-style-type: none;
}

.nav ul li{
    margin-left: 30px;
}
.header-top ul li:hover {    
    color: rgb(184, 184, 184);
}
.nav ul li a{
    text-decoration: none;
    color: #242E52;  
    margin-left: 1rem;
    width: 50%;
}

a:link{   
    text-decoration: none;
}

a:visited{    
    text-decoration: none;
}

/* Drop down */
.dropBtn{
    display: none;
    border: none;
    cursor: pointer;
}

.dropDown{
    display: none;
    position: fixed;
}

.dropDownContent{
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDownContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropDownContent a:hover{
    background-color: #f1f1f1;
}
.dropDown:hover .dropDownContent{
    display: block;
}


/* Button Get Started */
.btnGetStarted button {
    background-color: rgb(242, 95, 58);
    border-radius: 1rem;
    padding: 0.3rem;
    color: #FFF;
    font-weight: 500;
    font-size: 0.8rem;  
    box-shadow: 0px 6px 6px 0px rgba(242, 95, 58, 0.3);
    border: rgb(143, 148, 167);
    cursor: pointer;
    
}

/* Banner */

.banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    
}

.bannerLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 1rem;
    
}

.bannerLeft h1 {
    color: rgb(35, 44, 81);   
    padding-right: 4rem; 
    font-weight: 700px;
}

.bannerLeft p{
    color:rgb(143, 148, 167);
    padding-right: 2rem ;
}

.bannerLeft div button {
    background-color: rgb(242, 95, 58);
    border-radius: 1rem;
    padding: 0.3rem;
    color: #FFF;
    font-weight: 500;
    font-size: 0.8rem;  
    box-shadow: 0px 6px 6px 0px rgba(242, 95, 58, 0.3);
    border: rgb(143, 148, 167);
    cursor: pointer;    
}

.bannerRigth {
    width: 50%;
    height: 100%;
}
/* Media queries*/
@media (max-width: 760px) {

    .container {
        display: flex;
        justify-content: space-between;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
    }
  
    .nav ul li a{
        display: none;
    }

    .dropDown{
        display: block;
       
    }

    .dropBtn{
        display: block;
    }

    .btnGetStarted{
        display: none;
        position: relative;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    .bannerLeft {
        width: 100%;
    }

    .bannerRigth {
        width: 100%;
    }
    .bannerRigth img{
    width: 100%;
    
    }

}